/* add css module styles here (optional) */

.splitterGridContainer {
	display:flex;
  	flex-grow: 1;
  	flex-direction: row;
}
.splitterGridContainer.isVertical {
    flex-direction: column;
}
.pane {
    flex-grow: 1;
    position: relative;
}
.paneContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.paneContainer>:first-child {
    height: 100%;
}
.splitter {
    background-color: var(--gridsplitter-grip-color);
    transition: background-color 0.4s;
    flex: 0 0 6px;
    cursor: ew-resize;
}
.isVertical>.splitter {
    cursor: ns-resize;
}
.splitter:hover {
    background-color: var(--gridsplitter-grip-hover-color);
}
.splitter:active {
    background-color: var(--gridsplitter-grip-active-color);
}